.settings {
	margin-left: 6px;
	color: rgba(255, 255, 255, 0.9);
}

input {
	text-align: center;
	border-style: hidden;
	font-family: inherit;
	font-size: inherit;
	width: 128px;
	background-color: rgba(255, 255, 255, 0.1);
	color: inherit;
}

button {
	/* border-style: solid; */
	border-width: 1px;
	border-color: red;
	font-family: inherit;
	font-size: inherit;
	width: 64px;
	background-color: black;
	color: red;
	margin-left: 6px
}

body {
	font-size: 11pt;
	font-family: monospace;
	background-color: black;
	color: white;
}
